%html
  %head
    %title How many days since @rhino last mentioned 12 Angry Men?
  %body
    %h1{style: "text-align:center; padding-top: 100px; font-family: monospace;"}= "it's been #{locals[:counter]} days since @rhino last mentioned 12 Angry Men"
